In [6]:
import os
import pandas as pd
filepath = 'C:\\Users\\Invario\\Desktop\\Data_Downloads_byCompany\\Bird'

entries = os.listdir(filepath)
for entry in entries:
    print(entry)
    #frame = pd.read_json(entry)
    #frame['filename'] = os.path.basename(json)
    #data.append(frame)
    #print(frame)

.ipynb_checkpoints
11-14-1215PM-Bird.json
11-14-345PM-Bird.json
11-14-830AM-Bird.json
11-15-1200PM-Bird.json
11-15-330PM-Bird.json
11-15-630PM-Bird.json
11-15-830AM-Bird.json
11-16-1200PM-Bird.json
11-16-330PM-Bird.json
11-16-630PM-Bird.json
11-16-830AM-Bird.json
11-16-930PM-Bird.json
11-17-1200PM-Bird.json
11-17-330PM-Bird.json
11-17-630PM-Bird.json
11-17-830AM-Bird.json
11-17-930PM-Bird.json
11-18-1200PM-Bird.json
11-18-330PM-Bird.json
11-18-630PM-Bird.json
11-18-830AM-Bird.json
11-18-930PM-Bird.json
11-19-1200PM-Bird.json
11-19-330PM-Bird.json
11-19-630PM-Bird.json
11-19-830AM-Bird.json
11-19-930PM-Bird.json
11-20-1200PM-Bird.json
11-20-330PM-Bird.json
11-20-630PM-Bird.json
11-20-830AM-Bird.json
11-20-930PM-Bird.json
11-21-1200PM-Bird.json
11-21-330PM-Bird.json
11-21-630PM-Bird.json
11-21-830AM-Bird.json
11-21-930PM-Bird.json
11-22-1200PM-Bird.json
11-22-330PM-Bird.json
11-22-630PM-Bird.json
11-22-830AM-Bird.json
11-22-930PM-Bird.json
Bird Data CVS.ipynb

In [36]:
import pandas
#df = read_json(r"C:\Users\Invario\Desktop\Data_Downloads_byCompany\Bird\11-22-830AM-Bird.json")
#print(df)

import json
#from pandas.io.json import json_normalize    

with open(r"C:\Users\Invario\Desktop\Data_Downloads_byCompany\Bird\11-14-345PM-Bird.json") as data_file:    
    data_bike = json.load(data_file)  
    data = data_bike["data"]
    #print(bike)
    #bikes = data["bikes"]
    #print(bikes)
    df = pd.DataFrame.from_dict(data, orient='columns')
    #print(df)
    df2 = pd.DataFrame(df.bikes.tolist(), columns=['bike_id', 'lat', 'lon', 'battery_level',  'vehicle_type',  'reserved',  'disabled',])
    print(df2.head(10))

                                bike_id        lat        lon  battery_level  \
0  168bcd68-e923-4489-bddb-b85c035bda0b  38.894386 -77.046567             27
1  a9de8362-ffcc-4e52-9a6b-6fb743d24c6d  38.905734 -77.037741             86
2  2ab1dc9f-baae-466b-9435-7b1bef0df270  38.907209 -77.038423            100
3  dbe748d3-9eb2-48e3-bc19-9277098cd054  38.945097 -77.026539             47
4  3f98ecb3-5d05-4b98-9ded-ee82cbbb8746  38.907260 -77.038627            100
5  1c2011e0-c599-4edb-b85d-ae0e468256b8  38.898640 -77.018429             58
6  4f802f92-2747-42e4-bf60-7a07727d6969  38.935975 -77.058948             94
7  97b15287-9a8f-42e5-aff5-fcd799780add  38.895190 -77.020396             36
8  9b96dce6-4faa-4956-ae9b-5fd5b19d5320  38.902295 -77.031622            100
9  0f7bdd6c-11e8-4564-a189-f1754dccd2d7  38.896266 -77.046611            100

  vehicle_type  reserved  disabled
0      scooter     False     False
1      scooter     False     False
2      scooter     False     False
3      scooter     False     False
4      scooter     False     False
5      scooter     False     False
6      scooter     False     False
7      scooter     False     False
8      scooter     False     False
9      scooter     False     False

In [39]:
import os

df2['filename'] = os.path.basename('C:\\Users\\Invario\\Desktop\\Data_Downloads_byCompany\\Bird\\11-14-345PM-Bird.json')
#data.append(df2)
print(df2.head(10))

                                bike_id        lat        lon  battery_level  \
0  168bcd68-e923-4489-bddb-b85c035bda0b  38.894386 -77.046567             27
1  a9de8362-ffcc-4e52-9a6b-6fb743d24c6d  38.905734 -77.037741             86
2  2ab1dc9f-baae-466b-9435-7b1bef0df270  38.907209 -77.038423            100
3  dbe748d3-9eb2-48e3-bc19-9277098cd054  38.945097 -77.026539             47
4  3f98ecb3-5d05-4b98-9ded-ee82cbbb8746  38.907260 -77.038627            100
5  1c2011e0-c599-4edb-b85d-ae0e468256b8  38.898640 -77.018429             58
6  4f802f92-2747-42e4-bf60-7a07727d6969  38.935975 -77.058948             94
7  97b15287-9a8f-42e5-aff5-fcd799780add  38.895190 -77.020396             36
8  9b96dce6-4faa-4956-ae9b-5fd5b19d5320  38.902295 -77.031622            100
9  0f7bdd6c-11e8-4564-a189-f1754dccd2d7  38.896266 -77.046611            100

  vehicle_type  reserved  disabled               filename
0      scooter     False     False  11-14-345PM-Bird.json
1      scooter     False     False  11-14-345PM-Bird.json
2      scooter     False     False  11-14-345PM-Bird.json
3      scooter     False     False  11-14-345PM-Bird.json
4      scooter     False     False  11-14-345PM-Bird.json
5      scooter     False     False  11-14-345PM-Bird.json
6      scooter     False     False  11-14-345PM-Bird.json
7      scooter     False     False  11-14-345PM-Bird.json
8      scooter     False     False  11-14-345PM-Bird.json
9      scooter     False     False  11-14-345PM-Bird.json

In [40]:
df2[['Month','Day','Time', 'Company']] = df2.filename.str.split("-",expand=True,)
df2.head()

,bike_id,lat,lon,battery_level,vehicle_type,reserved,disabled,filename,Month,Day,Time,Company
0,168bcd68-e923-4489-bddb-b85c035bda0b,38.894386,-77.046567,27,scooter,False,False,11-14-345PM-Bird.json,11,14,345PM,Bird.json
1,a9de8362-ffcc-4e52-9a6b-6fb743d24c6d,38.905734,-77.037741,86,scooter,False,False,11-14-345PM-Bird.json,11,14,345PM,Bird.json
2,2ab1dc9f-baae-466b-9435-7b1bef0df270,38.907209,-77.038423,100,scooter,False,False,11-14-345PM-Bird.json,11,14,345PM,Bird.json
3,dbe748d3-9eb2-48e3-bc19-9277098cd054,38.945097,-77.026539,47,scooter,False,False,11-14-345PM-Bird.json,11,14,345PM,Bird.json
4,3f98ecb3-5d05-4b98-9ded-ee82cbbb8746,38.907260,-77.038627,100,scooter,False,False,11-14-345PM-Bird.json,11,14,345PM,Bird.json

In [9]:
import os
import pandas as pd
import json
filepath = 'C:\\Users\\Invario\\Desktop\\Data_Downloads_byCompany\\Bird'
bird_file=pd.DataFrame()
entries = os.listdir(filepath)
for entry in entries:
    with open(filepath + "\\" + entry) as data_file:    
        data_bike = json.load(data_file)  
        data = data_bike["data"]
        #print(bike)
        #bikes = data["bikes"]
        #print(bikes)
        df = pd.DataFrame.from_dict(data, orient='columns')
        #print(df)
        df2 = pd.DataFrame(df.bikes.tolist(), columns=['bike_id', 'lat', 'lon', 'battery_level',  'vehicle_type',  'reserved',  'disabled',])
        df2['filename'] = os.path.basename(entry)
        df2[['Month','Day','Time', 'Company']] = df2.filename.str.split("-",expand=True,)
    bird_file=bird_file.append(df2,ignore_index=True)

print(bird_file)
#bird_file.to_csv('bird_consolidated.csv')

                                    bike_id        lat        lon  \
0      ff3b4815-5460-47f1-bd02-d54839f73c3e  38.936881 -77.024106
1      3b4becd9-f2ea-4f82-b7f9-2b996291769c  38.899695 -77.048702
2      76216487-2126-4ad2-8d97-352702739fc3  38.901755 -77.038939
3      9624407c-3982-4139-9d06-2cc51ed68f77  38.899422 -77.049827
4      f5f63231-b63f-4e69-9dbe-e0ee59bf5e3d  38.908696 -77.076372
...                                     ...        ...        ...
15614  5de0562f-7379-4338-94ae-a65d22bd9981  38.900208 -77.038384
15615  fb6543fc-1332-435b-820f-ad2befd7cda1  38.882738 -76.989778
15616  a2c5e1c4-e3d2-4cec-8b52-a9db44878198  38.902264 -77.039284
15617  c50a4e8e-82e3-403d-8e8d-f5dd10902511  38.933213 -77.028620
15618  adc699a0-8e72-4e0b-8c20-749721d766bf  38.909565 -77.051302

       battery_level vehicle_type  reserved  disabled                filename  \
0                 44      scooter     False     False  11-14-1215PM-Bird.json
1                 94      scooter     False     False  11-14-1215PM-Bird.json
2                 94      scooter     False     False  11-14-1215PM-Bird.json
3                 90      scooter     False     False  11-14-1215PM-Bird.json
4                 45      scooter     False     False  11-14-1215PM-Bird.json
...              ...          ...       ...       ...                     ...
15614             50      scooter     False     False   11-22-930PM-Bird.json
15615             29      scooter     False     False   11-22-930PM-Bird.json
15616            100      scooter     False     False   11-22-930PM-Bird.json
15617             69      scooter     False     False   11-22-930PM-Bird.json
15618             35      scooter     False     False   11-22-930PM-Bird.json

      Month Day    Time    Company
0        11  14  1215PM  Bird.json
1        11  14  1215PM  Bird.json
2        11  14  1215PM  Bird.json
3        11  14  1215PM  Bird.json
4        11  14  1215PM  Bird.json
...     ...  ..     ...        ...
15614    11  22   930PM  Bird.json
15615    11  22   930PM  Bird.json
15616    11  22   930PM  Bird.json
15617    11  22   930PM  Bird.json
15618    11  22   930PM  Bird.json

[15619 rows x 12 columns]